
@page {
    margin: 1cm 1.5cm 1.5cm 1.5cm;
  }

html, body {
height: auto !important;
	 margin: 0px !important;
  padding: 0 !important;
}

.visible-print  { display: inherit !important; }
.hidden-print   { display: none !important; }

* {
text-shadow: none !important;
color: #000 !important;
background: #fff !important;
box-shadow: none !important;
-webkit-print-color-adjust:exact;
page-break-after: auto !important;
}

small { font-size: 98%; }

h4 {
	line-height: 35px;
}

.form_relatorio {
	float: right;
}
.logod {
	float: left;
	margin: 6px 10px 0 0;
}
.logod_texto {
	
}
body {
  font-size: 13px;
  line-height: 16px !important;
  margin: 0px !important;
  padding: 0 !important;
}
legend, .table {
  margin-bottom: 10px;
  padding-bottom: 14px;
}
a,
a:visited {
text-decoration: none;
}

a[href]:after {
	content: "";
}

abbr[title]:after {
content: " ";
}

ol li {
	margin-left: 30px;
}

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
content: "";
}

pre,
blockquote {
border: 1px solid #999;
page-break-inside: avoid;
}

thead {
display: table-header-group;
background: #fff !important;
}

tr,
img {
page-break-inside: avoid;
background: #fff !important;
}

.logo_sis {
	padding-bottom: 10px;
}

img {
max-width: 100% !important;
}

hr {
	margin: 10px 0 !important;	
}

.badge, .label, .tooltip {
padding: 2px 4px;
border: 1px solid #999;
margin-top: 6px;
}

.label-print {
	float: right;
}

h1 {
	font-size: 32px !important;
}

.page_inner {
	margin-bottom: 25px;
}
p,
h2,
h3 {
orphans: 3;
widows: 3;
}

h2,
h3, #footer {
page-break-after: avoid;
margin-bottom: 10px;
}

.table-striped tr th, .table-striped tr th div, .table-striped tr th big {
	background: #efefef !important;
}
.table th, .table td {
	border-top-color: #ececec !important;
}

.texto label {
	
}
.texto p {
	margin-bottom: 12px !important;
}

.texto table, .movimentacoes table.table td table {
	width: 100%;
	background: #fff !important;
}
.texto table td, .movimentacoes table.table td table td {
	border: 1px solid #eee !important;
	padding: 1px 4px !important;
	background: #fff !important;
}

.page-header {
	padding:0 !important;
	margin: 10px 0 10px 0 !important;
}
.muted {
	color: #777 !important;
}

#footer {
	padding-top: 0;
}
#footer .muted, #footer .muted strong {
	margin-top: 6px !important;
	font-size: 11px !important;
	line-height: 14px !important;
}
#footer strong {
	
}

.container_inner {
	padding-bottom: 40px !important;
}


.texto br {
	clear: none !important;
}

:last-child {
     page-break-after: auto;
}




